body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }
    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }
    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }
    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
}

.main-section {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    background-color: #e2e8ce;
    border-radius: 5%;
}
#numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    margin-right: 10px;
}

.number-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
}
#zero {
    grid-column: 2 / 3;
}

.number-button > button {
    font-size: 1.2em;
    font-weight: bold;
    color: #262626;
    background-color: #ACBFA4;
    height: 52px;
    width: 52px;
    border-radius: 25%;
    
}

.number-button > button:hover {
    width: 54px;
    height: 54px;
    /* box-shadow: 0.3px 0.5px 0.7px hsl(74deg 17% 53% / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(74deg 17% 53%/ 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(74deg 17% 53%/ 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(74deg 17% 53% / 0.34),
    7.1px 14.3px 18px -1.4px hsl(74deg 17% 53% / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(74deg 17% 53% / 0.34),
    17px 33.9px 42.7px -2.1px hsl(74deg 17% 53% / 0.34),
    25px 50px 62.9px -2.5px hsl(74deg 17% 53% / 0.34); */

    box-shadow: 0.3px 0.5px 0.7px hsl(74deg 17% 53% / 0.36),
    0.8px 1.6px 2px -0.4px hsl(74deg 17% 53% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(74deg 17% 53% / 0.36),
    5px 10px 12.6px -2.5px hsl(74deg 17% 53% / 0.36);
}


#equals {
    font-size: 1.2em;
    font-weight: bold;
    color: #262626;
    background-color: #ACBFA4;
    height: 52px;
    width: 52px;
    border-radius: 25%;
}

#input {
    font-size: 1.2em;
}

.selected-background {
    background-color: red !important;
}